
.patient-view {
  height: auto;
  display: inline-block;
  padding: 30px;
  margin: 0 0 20px;
  vertical-align: top;
  width: 100%;
}

.patient-info {
  padding: 15px;
  margin: 10px;
  margin-top: 20px;
  background: #fcfcfc;
  border: 2px solid #ddd;
  border-left-width: 6px;
  border-left-color: #0079be;
  text-transform: capitalize;
}

.patient-info h2 {
  color: #0079be;
  margin-top: 0.5em;
  padding-bottom: 0.7em;
  border-bottom: 2px solid #ddd;;
}

.patient-info h2 span{
  color: #1a3464;
}

.patient-data-text {
  font-size: 1em;
  color: #1a3464;
}

.patient-data-text span {
  font-weight: 600;
  color:#1a3464;
}

.half-view {
  width: 50%;
}

.view-title {
  padding: 0 0 10px;
  margin: 0 0 10px;
  font-size: 1.5em;
  letter-spacing: -0.025em;
  color: #384E77; /* $color-primary */
  border-bottom: 2px solid #eee;
}

@media (max-width: 975px) {
  .patient-view {
    padding: 10px;
    display: inline-block;
    position: relative;
  }

  .half-view {
    width: 100%;
    display: inline-block;
  }
}